// @import url('https://fonts.loli.net/css2?family=Gugi&display=swap');
// @import url('https://fonts.loli.net/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

[class^='language'] {
  font-family: monospace;
}

kbd {
  border-width: 1px 1px 3px;
  font-size: 0.8em;
  padding-inline: 0.4em;
  white-space: nowrap;
  @apply font-mono bg-gray-100 rounded-md font-bold leading-normal;
}
li {
  list-style-type: circle;
}

.post {
  code {
    @apply mx-1 px-1 bg-slate-600 text-slate-200 dark:bg-slate-200 dark:text-slate-600 rounded;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 30ch minmax(min(50vw, 30ch), 1fr);
}
