// @import url('https://fonts.loli.net/css2?family=Gugi&display=swap');
// @import url('https://fonts.loli.net/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

[class^='language'] {
  font-family: monospace;
}
ol,
ul {
  list-style-type: none;
}
@layer {
  .bg-light {
    backdrop-filter: blur(1.5rem) saturate(200%) contrast(50%) brightness(130%);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

