// @import url('https://fonts.loli.net/css2?family=Gugi&display=swap');
// @import url('https://fonts.loli.net/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

[class^='language'] {
  font-family: monospace;
}
ol,
ul {
  list-style-type: none;
}
@layer {
  .bg-light {
    backdrop-filter: blur(1.5rem) saturate(200%) contrast(50%) brightness(130%);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

kbd {
  border-width: 1px 1px 3px;
  font-size: 0.8em;
  padding-inline: 0.4em;
  white-space: nowrap;
  @apply font-mono bg-gray-100 rounded-md font-bold leading-normal;
}

.post {
  code {
    @apply mx-1 px-1 bg-slate-600 text-slate-200 dark:bg-slate-200 dark:text-slate-600 rounded;
  }
}
