@import url('https://fonts.loli.net/css2?family=Gugi&display=swap');
@import url('https://fonts.loli.net/css2?family=Roboto&display=swap');

h2.chakra-heading {
  position: relative;
  &::before {
    position: absolute;
    display: block;
    content: '#';
    color: gray;
    opacity: 0.75;
    transform: translateX(-120%);
  }
}

h3.chakra-heading {
  span {
    text-decoration: underline;
  }
}

.related-post {
  list-style-type: square;
}

.pagination {
  margin: 1rem auto;
}
