@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.loli.net/css2?family=Gugi&display=swap');
@import url('https://fonts.loli.net/css2?family=Roboto&display=swap');
body {
  @apply font-sans leading-normal text-base;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.main {
  @apply p-3;
}

.header {
  @apply py-3 mx-auto;
  width: 42rem;
}

.content {
  width: 42rem;

  li {
    a {
      @apply text-blue-600;
      padding: 10px 15px;
      transition: background-color 150ms ease-in 0s;

      &:hover {
        background: rgb(238, 238, 238);
      }
    }

    span {
      display: inline-block;
      width: 160px;
      padding-right: 10px;
      color: rgba(91, 91, 91, 1);
      font-size: inherit;
      text-align: right;
    }
  }
}

.post-info {
  color: #4f4f4f;
}

.pagination {
  a {
    @apply rounded mr-2 px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-black hover:text-white transition-all;
    &.active {
      @apply bg-black text-white;
    }
  }
}

.markdown-body .gist table tr,
.markdown-body .gist table td {
  border: none;
}

.related-post {
  list-style-type: square;
}

@media (max-width: 600px) {
  .content,
  .header {
    @apply w-full;
  }
}

/*home*/
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #171820;

  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    color: #edfdee;
    font-size: 1.25rem;
    line-height: 1.75;
    gap: 2rem;

    h1 {
      font-family: 'Gugi', cursive;
      font-weight: 700;
      font-size: 4.5rem;
      line-height: 1;
    }

    p {
      margin: 1rem 0 2rem;
      font-family: 'Roboto';
      span{
        border-bottom: 2px solid #FF9636;
      }
    }

    .info, .slogan {
      flex: 1;
    }
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1.5rem;
    a {
      display: block;
      text-align: center;
      height: 3rem;
      line-height: 3rem;
      text-transform: uppercase;
      border-radius: .25rem;
      background: rgba(255, 102, 99, 1);
      width: 100%;

      &:not(:first-child) {
        width: 45%;
        background: transparent;
        border: 2px solid rgba(255, 102, 99, 1);
        color: rgb(255, 102, 99);
      }
    }
  }
}
