@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans leading-normal text-base;
	scoll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

.main {
	@apply p-3;
}

.header {
	@apply py-3 mx-auto;
	width: 42rem;
}

.content {
	width: 42rem;
}

.content li span {
	display: inline-block;
	width: 160px;
	padding-right: 10px;
	text-align: right;
	font-size: inherit;
	color: rgba(91, 91, 91, 1);
}

.content li a {
	@apply text-blue-600;
	padding: 10px 15px;
	transition: background-color 150ms ease-in 0s;
}

.content li a:hover {
	background: rgb(238, 238, 238);
}

.post-info {
	color: #4f4f4f;
}
